# 要屏蔽的文件或文件夹

# /build
build

# /.vscode
.vscode

#  /
main.c
temp.c

# 为什么屏蔽不了main.c？
# 这是因为.gitignore只能屏蔽在添加时未被跟踪，即那些untrack的文件，而main.c我在将其添加到.gitignore之前就已经
# 将其跟踪了，所以说在工作区表现出来的就是main.c不能被隐藏。
# 解决方法网上很容易找到，大致就是清除缓冲区再重新跟踪，需要用到时学习就行了